.registration-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color: #f78b8b; */
}

.registration-form {
    background-color: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 300px;
  }
  
.registration-form h2 {
    margin-bottom: 20px;
    text-align: center;
}
  
.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  box-sizing: border-box;
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submitbtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  width: 70%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
  